<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Things I need to do...</h1>
    <table>
        {% for item in items %}
        <tr>
            {% if item.done %}
            <td><strike>{{ item.name }}</strike></td>
            {% else %}
            <td>{{ item.name }}</td>
            {% endif %}
            <td>
                <form action="toggle/{{ item.id }}" method="GET">
                <!-- reason we didn't need one of these for the Edit form below is because
                we're not posting data to that page we're only retrieving data -->
                {% csrf_token %}
                    <input type="Submit" value="Toggle">
                </form>
            </td>
            <td>
            <!-- This will tell us that we want to get something from a URL called edit -->
            <!-- We want to point to a specific URL to update a specific item, we need to
            access the unique ID for each of those items in the list which is generated
            automatically by Django -->
                <form action="edit/{{ item.id }}" method="GET">
                    <input type="Submit" value="Edit">
                </form>
            </td>
        </tr>
        {% empty %}
        <p>You have nothing to do.</p>
        {% endfor %}
    </table>

    <a href="add">Add item</a>
</body>
</html>